html,
body {
  height: 100%;
}

body {
  background-image: url("./gifs/bg.gif");
  overflow-y: scroll;
  background-size: cover;
}

#main-header img {
  width: 100%;
  height: 100%;
}

.font_family {
  font-family: "Roboto";
}

.icon-size {
  font-size: 40px;
}

.bg-black {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.911) !important;
}

.nav-icons {
  border-right: 3px solid #fff;
}

.fullstack-border {
  border-bottom: 3px solid #fff;
}

.devgineer {
  font-size: 20px;
}

#main-header .port-item {
  width: 40%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.skills-logo {
  font-size: 40px;
}

.video-size {
  width: 600px;
  height: 319px;
  border-radius: 10px;
  box-shadow: 7px 10px 12px 1px rgba(255, 253, 253, 0.944);
}

.video-size-mobile {
  width: 150px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 7px 10px 12px 1px rgba(255, 253, 253, 0.944);
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .video-size {
    width: 250px;
    height: 180px;
  }

  .video-size-mobile {
    width: 80px;
    height: 150px;
    margin-top: 10px;
  }

  .fullstack-border {
    font-size: 15px;
  }
  .devgineer {
    font-size: 11px;
  }
  .name-title {
    font-size: 25px;
  }

  .icon-size {
    font-size: 25px;
  }

  .mobile-font-title {
    font-size: 15px;
  }

  .mobile-font-text {
    font-size: 10px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .video-size {
    width: 300px;
    height: 180px;
  }

  .video-size-mobile {
    width: 100px;
    height: 180px;
    margin-top: 10px;
  }

  .devgineer {
    font-size: 13px;
  }

  .name-title {
    font-size: 30px;
  }

  .icon-size {
    font-size: 30px;
  }

  .mobile-font-title {
    font-size: 18px;
  }

  .mobile-font-text {
    font-size: 15px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .video-size {
    width: 300px;
    height: 180px;
  }

  .video-size-mobile {
    width: 100px;
    height: 180px;
    margin-top: 10px;
  }

  .devgineer {
    font-size: 13px;
  }

  .name-title {
    font-size: 25px;
  }
  .icon-size {
    font-size: 35px;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .video-size {
    width: 300px;
    height: 180px;
  }

  .video-size-mobile {
    width: 100px;
    height: 180px;
    margin-top: 10px;
  }

  .devgineer {
    font-size: 13px;
  }

  .name-title {
    font-size: 35px;
  }

  .icon-size {
    font-size: 40px;
  }

  .mobile-font-title {
    font-size: 20px;
  }

  .mobile-font-text {
    font-size: 15px;
  }
}

/* CSS Keyframs and Transitions */

.css_transition {
  animation: transitionIN 0.75s;
}

@keyframes transitionIN {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Hover image */
#projects img {
  transition: all ease 800ms;
}

#projects img:hover {
  transform: scale(1.25);
}

#projects video {
  transition: all ease 800ms;
}

#projects video:hover {
  transform: scale(1.25);
}
