body {
  background-image: url("images/1330.jpg");
  background-size: cover;
}

#main-header img {
  width: 100%;
  height: 100%;
}

.font_family {
  font-family: "Times New Roman", Times, serif;
}

.icon-size {
  font-size: 25px;
}

.bg-black {
  color: #fff;
  background-color: #000 !important;
}

.bg-modal {
  color: #000;
}

.nav-icons {
  border-right: 3px solid #fff;
}

.fullstack-border {
  border-bottom: 3px solid #fff;
}

#main-header .port-item {
  width: 40%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.skills-logo {
  font-size: 40px;
}

.css_transition {
  animation: transitionIN 0.75s;
}

@keyframes transitionIN {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-image: url("images/bgmobile.jpg");
    background-size: cover;
  }
  .img-gif {
    width: 300px;
    height: 180px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .fullstack-border {
    font-size: 15px;
  }
  .full-stack-font {
    font-size: 11px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-image: url("images/bgmobile.jpg");
    background-size: cover;
  }
  .img-gif {
    width: 300px;
    height: 180px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .full-stack-font {
    font-size: 13px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-image: url("images/bgmobile.jpg");
    background-size: cover;
  }
  .img-gif {
    width: 300px;
    height: 180px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .full-stack-font {
    font-size: 14px;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    background-image: url("images/bgmobile.jpg");
    background-size: cover;
  }
  .img-gif {
    width: 300px;
    height: 180px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .full-stack-font {
    font-size: 14px;
  }
}
